 @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Rubik+Vinyl&family=Sigmar+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap'); 

  body{
    /* background-image: linear-gradient(red,yellow); */
   /* background-color: aquamarine; */
   }
form h1{
    /* font-family: 'Rubik Vinyl', cursive; */
    font-family: 'Great Vibes', cursive;
    /* position: absolute; */
    font-size:50px;
    margin-top: 10px;
    margin-left: 160px;
    margin-bottom: 10px;
}
form .btn{
    font-family: 'Rubik Dirt', cursive;
    border-radius: 10px 20px;
    padding: 12px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 140px;
     color: #24a0ed;
    border: 2px solid #24a0ed;
}
form{
     position: absolute;
    /* background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44); */
    border: 2px solid black;
    border-radius:150px 0px;
    padding: 25px;
    top: 6%;
    left:30%;
    /* padding-left: 50px; */
}
label{
    font-family: 'Allerta Stencil', sans-serif;
    /* color: aquamarine; */
    font-size: 20px;
    text-align: center;
    padding-left:10px;
}
input{
    padding-left: 10px;
    align-items: center;
    font-family: 'Dongle', sans-serif;
    font-size:25px;
    font-weight: bold;
    /* border: 1px solid black; */
    border: none;
    margin: 10px;
}
@media screen and (max-width: 480px){
    .App{
        left: 1%;
    } 
}
@media screen and (max-width: 375px){
    .App{
        left: 2%;
    } 
}
