 @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); 
 @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); 
body{
    background-color: aquamarine;
}
 .card{
    /* color: aliceblue; */
    width: 30%;
    margin-left: 35%;
    margin-top: 8%;
    border: 2px solid black;
    border-radius: 50px 50px;
    /* background-color: aquamarine; */
    box-shadow:5px 5px 150px 10px black;
    background-image: linear-gradient(rgb(119, 255, 0),rgb(3, 238, 255));
}
.card h1{
    text-align: center;
    padding-left: 15px;
    font-family: 'Allerta Stencil', sans-serif;
}
.card p{
     
    padding-left: 35px;
    font-size: 20px;
    font-family: 'Lobster', cursive;
}
.card #detail{
    color: black;
    padding-left: 10px;
    font-size: 15px;
    font-family: 'Michroma', sans-serif;
}
.card #icon{
    font-size: 25px;
    padding-right: 5px;
}
.card img{
    padding-left: 150px;
}
.card #h1Icon{
    padding-top: 70px;
    padding-left: 5px;
    /* color: red; */
}