
body {
  
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.formDiv{
  display: flex;
  position: absolute;
  align-items: center;
  /* text-align: center; */
  /* padding: 20px; */
  border: 2px solid black;
}
form{
  padding: 10px;
}
input{
  margin: 5px;
}
form h1{
 padding-left: 90px;
}